 .mat-toolbar{
  background-color: black;
  padding: 35px;
 }

 img{
    width: 80px;      
    height: auto;
 }

 .header{
   display: flex;
   justify-content: space-between;
 }

 .header-text{
   color: white;
 }

 .purple-btn {
   color: white;
   background-color: purple; 
 }
 
 .purple-icon-btn {
   color: purple; 
 }

 .container {
   display: flex;
}