<div class="modal-content">
  <mat-icon fontIcon="close" (click)="closeModal()"></mat-icon>
  <div class="content">
    <div class="option">
      <mat-card>
        <img src="assets/savings" alt="">
      </mat-card>
      <button mat-raised-button color="primary" (click)="newBudget()">Nowy budżet</button>
    </div>
    <div class="option">
      <mat-card>
        <i class="material-icons">savings</i>
      </mat-card>
      <button mat-raised-button color="primary" (click)="usePreviousBudget()">Użyj poprzedniego</button>
    </div>
  </div>
</div>