<div class="container">
  <h1>Wybierz edycję integracji</h1>
  <div class="wrapper">
    <div class="item" *ngFor="let item of integrations$ | async; let i = index">
      <mat-card class="card" (click)="openPrvIntegration(item.id)">
        <img [src]="item.picture" alt="{{item.name}}">
        <mat-card-content>
          <p>{{item.name}}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="item">
      <mat-card class="card plus" (click)="openDialog()">
        <i class="material-icons">add</i>
      </mat-card>
    </div>
  </div>
</div>