.container {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120px;
  width: 300px;
}

img {
  width: 30%;
  height: 100%;
}

p {
  font-size: 32px;
}

.plus {
  background-color: rgb(240, 232, 243);
  width: 260px;
  height: 80px;
  text-align: center;
  font-size: 70px;
  cursor: pointer;
}

.material-icons {
  font-size: 4rem;
  color: rgb(181, 59, 225);
}
