.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 3rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  height: 80%;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8rem;
  width: 15rem;
  font-weight: bold;
}

img {
  width: 30%;
  height: 100%;
}

p {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}

mat-card-content {
  width: 100%;
}

.plus {
  background-color: rgb(240, 232, 243);
  width: 7rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-icons {
  font-size: 4rem;
  color: rgb(181, 59, 225);
}
